{% extends 'layout/master.twig' %}

{% block content %}
    <article>
        <h1>Hello Chat</h1>
        <ul id="messages"></ul>
    </article>

    <footer>
        <!--<input type="text" id="js-message-content" placeholder="Type something..." />-->
        <textarea id="js-message-content" placeholder="Type something..." style="resize:none;"></textarea>
        <button id="js-send-message">&#9993; send</button>
    </footer>

    <script>
        var connection = new WebSocket('ws://localhost:8080/websocket/chat');

        function scrollToBottom() {
            var article = document.querySelector('article');
            article.scrollTop = article.scrollHeight;
        }

        function renderMessage(msg, goingOut) {
            var li = document.createElement('li');
            li.innerText = msg;
            li.className = (goingOut) ? 'message-out' : 'message-in';
            document.querySelector('#messages').appendChild(li);
            scrollToBottom();
        }

        function sendMessage() {
            var input = document.querySelector('#js-message-content');
            var msg = input.value.trim();
            if (msg) {
                console.log('Out: ' + msg);
                renderMessage(msg, true);
                connection.send(msg);
            }
            input.value = '';
        }

        connection.onopen = function(e) {
            console.log('Connection established!');
        };
        connection.onmessage = function(e) {
            console.log('In: ' + e.data);
            renderMessage(e.data);
        };

        window.addEventListener('resize', scrollToBottom);
        document.querySelector('#js-send-message').addEventListener('click', sendMessage);
        document.querySelector('#js-message-content').addEventListener('keyup', function(e) {
            e.preventDefault();
            if (e.keyCode === 13) {
                sendMessage();
            }
        });
        document.querySelector('#js-message-content').focus();
    </script>
{% endblock %}
